header{
    background-color: #2c3e50;
    
}


.my_nav a{
    color: white;
}

.my_bg-set{
    background-color: #1abc9c;
}




.fa-brands{
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    font-size: 22px;
    width: 40px;
}

.fa-copyright{
    padding-right: .3rem;
}

.my_footer-top{
    background-color: #3a546d;
}

.my_footer-bot{
    background-color: #2c3e50;
}


.line{
    width: 200px;
    height: 5px;
    background-color: white;
    border-radius: 2.5px;
}


footer .row span{
    color: #1abc9c;
}



